*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans';
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 40rem) {
    html { font-size: 112%; }
}

@media (min-width: 64rem) {
    html { font-size: 120%; }
}

body {
    background: none repeat scroll 0 0 #FAFAFA;
    color: #6A87A2;
    font-family: 'Open Sans';
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 90%;
}

header {
    background-color: #497bad;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin: 0.67em 0;
    color: #FEFEFE;
    font-weight: 400;
    text-align: center;
}

section {
    border-top: 1px solid #eee;
    text-align: center;
    padding: 2rem 0;
}

@media (min-width: 40rem) {
    section { padding: 4rem 0; }
}

footer {
    background-color: #153656;
    bottom: 0;
    color: #C9D7E6;
    padding: 2%;
    position: fixed;
    text-align: center;
    width: 100%;
}

.column {
    float: left;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.column.full { width: 100%; }
.column.fourth { width: 24.95%; }

.row {
    margin-bottom:3%;
}

h1, h2, h3{
    font-weight: 600;
    margin: 0;
}

h1 {
    font-size: 1.3rem;
    line-height: 1.3em;
    margin-bottom: 1.5rem;
}

@media (min-width: 40rem) {
    h1 { font-size: 1.5rem; }
}

h2 {
    color: #C9D7E6;
    font-weight: 200;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

/* Clearfix by Nicolas Gallagher
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
