@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 100%;
}

.block {
    padding: 2%;
    text-align: center;
}

.blue-one {
    background: #476998;
}

.blue-two {
    background: #4C7CAB;
    padding-top: 5%;
    padding-bottom: 5%;
}

.main {
    margin-bottom: 1.5%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

/* Small screens (default) */
html { font-size: 90%; }

@media (max-width: 40rem) {
    .description { display: none; }
}

/* Medium screens (640px) */
@media (min-width: 40rem) { 
    html { font-size: 100%; }
    .description { display: block; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) { 
    html { font-size: 110%; }
    .description { display: block; }
}

body { margin:0; padding:0; color: #6A87A2 ; background: #fafafa; font-family: 'Open Sans';font-weight: 300;}
h1 {font-weight: 400; color: #fefefe; display: inline;}
h2 {font-weight: 200; color: #C9D7E6; display: inline;}

.link {
    text-align: center; 
    background: #f4f4f4;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: #ddd 0 1px 0;
    min-height: 100%;
}

.link:hover {
    background: #eee;
    box-shadow: #ccc 0 1px 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h3 a {
    text-decoration: underline;
}

.caption {
    font-size: 150%;
    font-weight: 600;
}


.link:hover .caption {
    color: #708EAA;
}

footer {
    text-align: center; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 0.5%;
    background-color: #153656;
    color: #C9D7E6;
}

.greyout {
    filter: saturate(33%);
    -webkit-filter: saturate(33%);
    -moz-filter: saturate(33%);
    -o-filter: saturate(33%);
    -ms-filter: saturate(33%);
}

.column a img {
    max-width:35%;
}

.last {
    padding-bottom: 5%;
}
